.myHomePage{
    padding-top: 130px;
    //margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    #photoProfil{
        width: 180px;
        border-radius: 50%;
        align-self: center;
        margin-bottom: 40px;
    }

    .myIdentite{
        display: flex;
        align-self: center;
        //flex-direction: column;
        justify-content: flex-start;
        //text-align: center;
        height: 200px;
        width: 900px;
        margin-bottom: 40px;

        border-bottom: 1px solid $color-8;
        border-bottom-left-radius: 20px;
        //background-color: whitesmoke;
    }

    .titre{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 10%;
    }

    p, h3{
        color: whitesmoke;
    }
    h3{
        font-size: 30px;
        margin-bottom: 10px;
        align-self: center;
    }

    .word {
        position: absolute;
    }

    h2{
        align-self: center;
        margin-bottom: 20px;
        color: $color-8;
        font-size: 40px;
    }

    .myResume{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        //width: px;
       // height: 650px;
        align-self: center;
        margin-top: 40px;
        //background-color: rgb(245, 245, 245);
        //opacity: 0.1;
    }

    .myself{
        display: flex;
        flex-direction: column;
    }

    .myGlobalBlockResume{
        display: flex;
        flex-direction: column;
    }

    .myBlockResume, .myBlockResume2{
        display: flex;
        ///flex-direction: column;
        justify-content: space-between;
        width: 800px;
        align-self: center;
        //text-align: center;
       // border: 1px solid transparent;
        margin-top: 60px;
        padding-bottom: 50px;
    }

    .myBlockResume2{
        flex-direction: row-reverse;
    }

    .myBlockResume .myStory, .myBlockResume2 .myStory{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .myBlockResume img, .myBlockResume2 img{
        width: 200px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 120px;
        opacity: 0.8;
        margin-top: 30px;
        margin-left: 50px;
        transition: 1.1s ease-out;
        z-index: -1;
    }
    
    .myBlockResume2 img{
        margin-right: 50px;
        margin-left: 0px;
    }

    .myBlockResume span, .myBlockResume2 span{
        text-align: justify;
        color: whitesmoke;
        margin-top: 25px;
        font-size: 20px;
        line-height: 25px;
    }

    .mySkills{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
        height: max-content;
    }

    .mySkills h4, .myBlockResume h4, .myBlockResume2 h4{
        color: $color-7;
        text-align: center;
        font-size: 37px;
        font-family: $font-2;
    }

    .mySkills .mySkillsImage{
        //align-self: center;
       // width: 50%;
        //background-color: red;
        margin-top: 20px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mySkills .mySkillsImage div img{
        width: 100px;
    }

    .mySkills .mySkillsImage div {
        width: 25%;
        margin: 20px;
        text-align: center;
        transition: 1.1s ease-out;
    }

}