.social-network {
 // position: absolute;
  //bottom: 0;
  width: 100%;
  font-size: 1.8rem;
  display: flex;

  @media screen and (max-width: 650px){
    width: 30%;
  }

  ul {
    display: flex;
    width: 100%;
    min-width: 100px;
    justify-content: space-around;

    @media screen and (max-width: 450px){
      min-width: 100%;
    }

    a {
      padding: 1rem;
      transition: 1.1s ease-out;
    }
  }

  .content{
    justify-content: center;
  }

}