


  .img-container{
    position: relative;
    z-index: 0;
  }

  .img-container span{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 400px;
    visibility: hidden;
    //background-color: $color-8;
    //opacity: 0.6;
    margin-top: 5px;
    margin-left: 25px;
    z-index: 1;
  }

  .img-container .myMobile, .img-container .myMobile1{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 210px;
    visibility: hidden;
    //background-color: $color-8;
    //opacity: 0.6;
    margin-top: 0px;
    margin-left: 18px;
    z-index: 1;
  }

  .img-container:hover span, span:hover{
    visibility: visible;
    transform: translateY(0);
    cursor: pointer;
  }

  .img-container span p, .img-container span h3{
    color: rgb(212, 135, 34);
   // font-weight: bolder;
    font-family: $font-1;
    font-size: 20px;
    align-self: center;
  }

  .img-container span p{
    margin-top: 10px;
    font-family: $font-2;
    color: whitesmoke;
    font-size: 15px;
  }

  .img-container .myMobile1 p{
    align-self: center;
  }

  .content1{
    padding-top: 110px;
    flex: 1 0 auto;
   // background-color: whitesmoke;
    //height: max-content;
  }

  .content2{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    //text-align: -webkit-center;
   // background-color: whitesmoke;
    //height: max-content;
  }

  .content2 .myMentions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
  }

  .content2 .myMentions p{
    color: $color-7;
    text-align: justify;
    line-height: 23px;
    align-self: center;
  }

  .content2 .myMentions span{
    color: $color-3;
    font-weight: bold;
    
  }

  .content2 .myMentions h4, .content2 .myMentions h2{
    color: $color-8;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    align-self: center;
  }

  .content2 .myMentions h2{
    font-size: 40px;
  }

//   .content1:before {
//     content: '\00a0';
//     display: block;
//     margin-top: var(--space);
//     height: 0;
//     visibility: hidden;
// }

  .content1 h2{
    color: $color-8;
    font-size: 40px;
    font-family: $font-2;
    text-align: center;
  }

  .content1 .myReturnButton{
    padding: 10px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
  }

  .content1 .myReturnButton:hover{
    cursor: pointer;
    background-color: rgb(212, 135, 34);
  }

  .img-content {
    
    display: flex;
    margin-top: 40px;
    //flex-wrap: wrap;
    //justify-content: space-around;
  }

  .languages{
    color: whitesmoke;
  }

  .myPosts{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .myFirstPosts{
    display: flex;
    flex-direction: column;
    
  }
  .myImg1{
    height: 200px;
    width: 400px;
    border-radius:5px;
    margin-bottom:40px;
    z-index: 0;
  }

  .img-container:hover .myImg1, .img-container:hover .myImg2, .img-container:hover .myImg3{
    transform: scale(2.2);
    filter:opacity(15%) contrast(150%);
  }
  .myImg2{
    width: 400px;
    border-radius:5px
  }
  .myImg3, .myImg4{
    height:450px;
   // width:15%;
    border-radius:5px;
    z-index: 0;
    //margin:28px;
  }
  .myImg5{
    width: 700px;
    border-radius:20px
  }
  .myImg6{
    width: 350px;
    border-radius:20px
  }


  //MyProjects
  .myResultPostID{
    display: flex;
    justify-content: space-around;
    //flex-wrap: wrap;
    height: max-content;
    margin-bottom: 20px;
    //background-color: whitesmoke;
  }

  .myProjectDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //background-color: blue;
    line-height: 25px;
    width: 50%;
  }

  .myExplain .myLink{
    color: whitesmoke;
    font-weight: bold;
  }

  .myExplain{
    margin-bottom: 40px;
  }

  .myTitle a{
    color: rgb(212, 135, 34);
    font-size: 18px;
    
  }

  .myTitle p{
    margin-bottom: 10px;
  }

  .myTitle a:hover{
    opacity: 0.6;
  }

  .myTitle h1{
    margin-bottom: 20px;
    color: $color-8;
    font-family: $font-2;
    font-size: 30px;
  }

  .myLanguage{

  }

  .myLanguage .myLanguage {
    color: whitesmoke;
    font-size: 25px;
  }

  .myInfo{
    text-align: justify;
    align-self: center;
    font-size: 18px;
    line-height: 26px;
    margin: 20px;
    color: $color-7;
  }
  .myImageProject{
     position: relative;
     //height: 700px;
     //background-color: whitesmoke;
     display: flex;
     align-items: center;
    // width: 33.1%;
    //z-index: -1;
  }

  .myPagination{
    position: absolute;
  }

  .myImages{
    width: 510px;
    //padding: 10px;
    border-radius: 10px;
    //justify-content: center;
   // position: absolute;
    max-width: 100vw;
  }

  .myImagesAppli{
    width: 250px;
    
    border-radius: 10px;
    //position: absolute;
    max-width: 100vw;
  }

  .myImagesAppli:hover, .myImages:hover{
    //transform: scale(-1.8);
    
  }

  .myPeriod{
    font-size: 18px;
    color:tomato
  }

  
.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: -60px;
}

.prev {
  left: -60px;
  transform: scale(-1);
}

@media (min-width:1024px) and (max-width:1220px){
  .myImg1, .myImg2{
    width: 250px;
  }
  .myImg2{
    height: 200px;
  }
  .img-container span{
    width: 250px;
  }
  .img-container span h3{
    font-size: 15px;
  }
  .img-container span p{
    font-size: 12px;
  }
}

@media (min-width:1024px) and (max-width:1520px){
    //////////
    .myResultPostID{
      flex-direction: column;
    }
  
    .myProjectDetails{
      width: auto;
    }
    .content1 .myReturnButton{
      padding: 5px;
      width: 80px;
      margin-bottom: 30px;
    }
  
    .myTitle h1{
      font-size: 30px;
    }
  
    .myTitle a{
      font-size: 20px;
    }
  
    .myLanguage .myLanguage{
      font-size: 20px;
    }
    .myLanguage .myPeriod{
      font-size: 15px;
      color: tomato;
    }
    .myInfo{
      font-size: 19px;
      line-height: 27px;
    }
    .myImages{
      width: 500px;
    }
    .next, .prev{
      height: 30px;
      width: 30px;
    }
  
    .prev{
      left: -60px;
    }
    .next{
      right: -60px;
    }
  
    .myImageProject{
      align-self: center;
    }
  
    .myImagesAppli{
      width: 300px;
    }
}

@media (min-width:844px) and (max-width:1024px){
  .myPosts{
    margin: inherit;
    width: 90%;
    
  }
  .img-content{
    flex-direction: column;
  }
  .myImg1, .myImg2{
    width: 250px;
  }

  .myImg2{
    height: 200px;
  }

  .myImg4, .myImg3{
    //height: 420px;
  }
  .img-container span{
    width: 250px;
  }
  .img-container span h3{
    font-size: 15px;
  }
  .img-container span p{
    font-size: 12px;
  }

    //////////
    .myResultPostID{
      flex-direction: column;
    }
  
    .myProjectDetails{
      width: auto;
    }
    .content1 .myReturnButton{
      padding: 5px;
      width: 80px;
      margin-bottom: 30px;
    }
  
    .myTitle h1{
      font-size: 30px;
    }
  
    .myTitle a{
      font-size: 20px;
    }
  
    .myLanguage .myLanguage{
      font-size: 20px;
    }
    .myLanguage .myPeriod{
      font-size: 15px;
      color: tomato;
    }
    .myInfo{
      font-size: 19px;
      line-height: 27px;
    }
    .myImages{
      width: 500px;
    }
    .next, .prev{
      height: 30px;
      width: 30px;
    }
  
    .prev{
      left: -60px;
    }
    .next{
      right: -60px;
    }
  
    .myImageProject{
      align-self: center;
    }
  
    .myImagesAppli{
      width: 300px;
    }
}

@media (min-width:570px) and (max-width:844px){
  .myPosts{
    margin: inherit;
    width: 550px;
    flex-wrap: wrap;
    align-self: center;
  }
  .img-content{
    flex-direction: column;
  }
  .myImg1, .myImg2{
    width: 300px;
  }

  .myImg2{
    height: 175px;
  }

  .myImg4, .myImg3{
    height: 420px;
  }
  .img-container span{
    height: 100px;
    width: 200px;
    margin-top: 30px;
    margin-left: 25px;
  }

  .img-container .myMobile, .img-container .myMobile1{
    height: 300px;
    width: 180px;
  }

  .img-container span p, .img-container span h3{
    font-size: 15px;
  }

  .img-container span p{
    font-size: 12px;
  }

  .content1 h2{
    font-size: 30px;
  }

  //////////
  .myResultPostID{
    flex-direction: column;
  }

  .myProjectDetails{
    width: auto;
  }
  .content1 .myReturnButton{
    padding: 5px;
    width: 80px;
    margin-bottom: 30px;
  }

  .myTitle h1{
    font-size: 20px;
  }

  .myTitle a{
    font-size: 15px;
  }

  .myLanguage .myLanguage{
    font-size: 18px;
  }
  .myLanguage .myPeriod{
    font-size: 15px;
    color: tomato;
  }
  .myInfo{
    font-size: 18px;
    line-height: 25px;
  }
  .myImages{
    width: 400px;
  }
  .next, .prev{
    height: 30px;
    width: 30px;
  }

  .prev{
    left: -50px;
  }
  .next{
    right: -50px;
  }

  .myImageProject{
    align-self: center;
  }

  .myImagesAppli{
    width: 230px;
  }
}

@media (min-width:480px) and (max-width:570px){
  .myPosts{
    margin: inherit;
    width: 420px;
    flex-wrap: wrap;
    align-self: center;
  }
  .img-content{
    flex-direction: column;
    margin-top: 20px;
  }
  .myImg1, .myImg2{
    width: 200px;
  }

  .myImg2{
    height: 155px;
  }

  .myImg4, .myImg3{
    height: 390px;
  }

  .img-container span{
    height: 100px;
    width: 200px;
    margin-top: 30px;
    margin-left: 25px;
  }

  .img-container .myMobile, .img-container .myMobile1{
    height: 300px;
    width: 180px;
  }

  .img-container span p, .img-container span h3{
    font-size: 15px;
  }

  .img-container span p{
    font-size: 12px;
  }

  .content1 h2{
    font-size: 30px;
  }

    //////////
    .myResultPostID{
      flex-direction: column;
    }
  
    .myProjectDetails{
      width: auto;
    }
    .content1 .myReturnButton{
      padding: 5px;
      width: 80px;
      margin-bottom: 30px;
    }
  
    .myTitle h1{
      font-size: 20px;
    }
  
    .myTitle a{
      font-size: 15px;
    }
  
    .myLanguage .myLanguage{
      font-size: 18px;
    }
    .myLanguage .myPeriod{
      font-size: 15px;
      color: tomato;
    }
    .myInfo{
      font-size: 18px;
      line-height: 25px;
    }
    .myImages{
      width: 360px;
    }
    .next, .prev{
      height: 30px;
      width: 30px;
    }
  
    .prev{
      left: -40px;
    }
    .next{
      right: -40px;
    }
  
    .myImageProject{
      align-self: center;
    }
  
    .myImagesAppli{
      width: 230px;
    }
}

@media (min-width:300px) and (max-width:480px){
  .myPosts{
    margin: inherit;
    width: 360px;
    flex-direction: column;
    align-items: center;
  }
  .img-content{
    flex-direction: column;
    margin-top: 20px;
  }
  .myImg1, .myImg2{
    width: 260px;
    filter:opacity(15%) contrast(150%);
  }

  .myImg2{
    height: 195px;
  }

  .myImg4, .myImg3{
    height: 330px;
    filter:opacity(15%) contrast(150%);
  }

  .img-container span{
    height: 100px;
    width: 250px;
    margin-top: 30px;
    margin-left: 25px;
    visibility: visible;
    align-items: center;
  }

  .img-container .myMobile, .img-container .myMobile1{
    height: 300px;
    width: 150px;
    visibility: visible;
    //align-items: center;
  }

  .img-container span p, .img-container span h3{
    font-size: 15px;
  }

  .img-container span p{
    font-size: 12px;
    align-self: center;
  }

  .content1 h2{
    font-size: 20px;
  }

  .content1{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
   // background-color: whitesmoke;
    //height: max-content;
  }

  //////////
  .myResultPostID{
    flex-direction: column;
  }

  .myProjectDetails{
    width: auto;
  }
  .content1 .myReturnButton{
    padding: 5px;
    width: 80px;
    margin-bottom: 30px;
  }

  .myTitle h1{
    font-size: 18px;
  }

  .myTitle a{
    font-size: 12px;
  }

  .myLanguage .myLanguage{
    font-size: 15px;
  }
  .myLanguage .myPeriod{
    font-size: 12px;
    color: tomato;
  }
  .myInfo{
    font-size: 15px;
    line-height: 20px;
  }
  .myImages{
    width: 260px;
  }
  .next, .prev{
    height: 30px;
    width: 30px;
  }

  .prev{
    left: -20px;
  }
  .next{
    right: -20px;
  }

  .myImageProject{
    align-self: center;
  }

  .myImagesAppli{
    width: 180px;
  }
}

