


  .img-container{
    position: relative;
    z-index: 0;
  }

  .img-container span{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 400px;
    visibility: hidden;
    //background-color: $color-8;
    //opacity: 0.6;
    margin-top: 5px;
    margin-left: 25px;
    z-index: 1;
  }

  .img-container .myMobile, .img-container .myMobile1{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 210px;
    visibility: hidden;
    //background-color: $color-8;
    //opacity: 0.6;
    margin-top: 0px;
    margin-left: 18px;
    z-index: 1;
  }

  .img-container:hover span, span:hover{
    visibility: visible;
    transform: translateY(0);
    cursor: pointer;
  }

  .img-container span p, .img-container span h3{
    color: rgb(212, 135, 34);
   // font-weight: bolder;
    font-family: $font-1;
    font-size: 20px;
    align-self: center;
  }

  .img-container span p{
    margin-top: 10px;
    font-family: $font-2;
    color: whitesmoke;
    font-size: 15px;
  }

  .img-container .myMobile1 p{
    align-self: center;
  }

  .content1{
    padding-top: 110px;
    flex: 1 0 auto;
   // background-color: whitesmoke;
    //height: max-content;
  }

  .content2{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    //text-align: -webkit-center;
   // background-color: whitesmoke;
    //height: max-content;
  }

  .content2 .myMentions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
  }

  .content2 .myMentions p{
    color: $color-7;
    text-align: justify;
    line-height: 23px;
    align-self: center;
  }

  .content2 .myMentions span{
    color: $color-3;
    font-weight: bold;
    
  }

  .content2 .myMentions h4, .content2 .myMentions h2{
    color: $color-8;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    align-self: center;
  }

  .content2 .myMentions h2{
    font-size: 40px;
  }

//   .content1:before {
//     content: '\00a0';
//     display: block;
//     margin-top: var(--space);
//     height: 0;
//     visibility: hidden;
// }

  .content1 h2{
    color: $color-8;
    font-size: 40px;
    font-family: $font-2;
    text-align: center;
  }

  .content1 .myReturnButton{
    padding: 10px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
  }

  .content1 .myReturnButton:hover{
    cursor: pointer;
    background-color: rgb(212, 135, 34);
  }

  .img-content {
    
    display: flex;
    margin-top: 40px;
    //flex-wrap: wrap;
    //justify-content: space-around;
  }

  .languages{
    color: whitesmoke;
  }

  .myPosts{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .myFirstPosts{
    display: flex;
    flex-direction: column;
    
  }
  .myImg1{
    height: 200px;
    width: 400px;
    border-radius:5px;
    margin-bottom:40px;
    z-index: 0;
  }

  .img-container:hover .myImg1, .img-container:hover .myImg2, .img-container:hover .myImg3{
    transform: scale(2.2);
    filter:opacity(15%) contrast(150%);
  }
  .myImg2{
    width: 400px;
    border-radius:5px
  }
  .myImg3, .myImg4{
    height:450px;
   // width:15%;
    border-radius:10px;
    z-index: 0;
    //margin:28px;
  }
  .myImg5{
    width: 700px;
    border-radius:20px
  }
  .myImg6{
    width: 350px;
    border-radius:20px
  }


  //MyProjects
  .myResultPostID{
    display: flex;
    justify-content: space-around;
    //flex-wrap: wrap;
    height: max-content;
    margin-bottom: 20px;
    //background-color: whitesmoke;
  }

  .myProjectDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //background-color: blue;
    line-height: 25px;
    width: 50%;
  }

  .myExplain .myLink{
    color: whitesmoke;
    font-weight: bold;
  }

  .myExplain{
    margin-bottom: 40px;
  }

  .myTitle a{
    color: rgb(212, 135, 34);
    font-size: 18px;
    
  }

  .myTitle p{
    margin-bottom: 10px;
  }

  .myTitle a:hover{
    opacity: 0.6;
  }

  .myTitle h1{
    margin-bottom: 20px;
    color: $color-8;
    font-family: $font-2;
    font-size: 30px;
  }

  .myLanguage{

  }

  .myLanguage span {
    color: whitesmoke;
    font-size: 25px;
  }

  .myInfo{
    text-align: justify;
    align-self: center;
    font-size: 18px;
    line-height: 26px;
    margin: 20px;
    color: $color-7;
  }
  .myImageProject{
     position: relative;
     //height: 700px;
     //background-color: whitesmoke;
     display: flex;
     align-items: center;
    // width: 33.1%;
    //z-index: -1;
  }

  .myPagination{
    position: absolute;
  }

  .myImages{
    width: 510px;
    //padding: 10px;
    border-radius: 10px;
    //justify-content: center;
   // position: absolute;
    max-width: 100vw;
  }

  .myImagesAppli{
    width: 250px;
    
    border-radius: 10px;
    //position: absolute;
    max-width: 100vw;
  }

  .myImagesAppli:hover, .myImages:hover{
    //transform: scale(-1.8);
    
  }

  
.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: -60px;
}

.prev {
  left: -60px;
  transform: scale(-1);
}


